body{
    background-image: url(weathers.png);
    background-size: cover;
}

p{
    background-color: rgba(128, 255, 244, 0.514);
}

h1{
    background-color: rgba(128, 255, 244, 0.514);
    text-decoration: underline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;6r
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}