body{
    background-image: url(Wh.png);
    background-size: cover;
}

h1{
    color:rgb(255, 255, 255)
}

h2{
    color:rgb(255, 255, 255)
}

p{
    font-size: large;
    color:white
}
li{
    font-size: large;
    color:white
}